@import '../../styles/helpers'

.register_box
  max-width: 430px
  margin: auto
  background-color: #fff
  padding: 40px

  .register_title
    font-weight: 400
    color: #000
    font-size: 30px
    padding-bottom: 40px
    max-width: 60%
    margin: auto
    text-align: center

  .register_btn
    width: 100%
    margin-top: 30px
    background-color: $main-color
    &:hover
      background-color: $hover-color
      color: #fff

  .register_link-register
    margin-top: 20px
    display: flex
    align-items: center
    p
      margin-right: 20px
