@media (max-width: 767px)
.ps-newsletter
  border-radius: 20px
  background-color: 0
  width: auto
  margin-left: 0px
.ps-newsletter
  padding: 65px 0
   padding-top: 65px  
   padding-right: 0px
   padding-bottom: 65px 
   padding-left: 0px
  border-top: 1px solid #e1e1e1
   border-top-width: 1px
   border-top-style: solid
   border-top-color: rgb(225, 225, 225)
  border-bottom: 1px solid #e1e1e1
   border-bottom-width: 1px
   border-bottom-style: solid
   border-bottom-color: rgb(225, 225, 225)
.ps-form--newsletter 
  padding-left: 45px
.ps-form--newsletter p
  margin-bottom: 0px
.ps-form--newsletter h1
  font-weight: 600
  margin-bottom: 5px
  font-size: 24px   
.form-group--nest button 
  padding-right: 30px
  justify-content: flex-end
  min-width: 30px
  min-height: 30px
  color: #a77415
.form-group--nest input
  min-height: 25px
  justify-content: flex-end
  margin-left: 1000px
  padding-right: 500px
  border-radius: 0 1px 1px 0
.ps-footer
  padding: 65px 0
   padding-top: 65px  
   padding-right: 0px
   padding-bottom: 65px 
   padding-left: 0px
  border-top: 1px solid #e1e1e1
   border-top-width: 1px
   border-top-style: solid
   border-top-color: rgb(225, 225, 225)
  border-bottom: 1px solid #e1e1e1
   border-bottom-width: 1px
   border-bottom-style: solid
   border-bottom-color: rgb(225, 225, 225)
.widget_footer
  padding-left: 45px   
  justify-content: center
.ps-container
  padding: 5px 0px
   padding-top: 5px  
   padding-right: 10px
   padding-bottom: 50px 
   padding-left: 10px
   border-end-width: 1px
   border-end-style: solid
   border-end-color: rgb(225, 225, 225)
   border-bottom-width: 1px
   border-bottom-style: solid
   border-bottom-color: rgb(225, 225, 225)
.widget-title-2
  margin-left: 900px
  display: flex 
  padding-top: 0px
.widget-title-3 
  display: flex 
  margin-left: 1200px
.widget-title-4
  display: flex 
  margin-left: 1500px 
.ps-list--social li 
  padding-left: 900px 
  margin-bottom: 2px              
.ps-list--link-3 li
.ps-list--link-3 li
  padding-left: 1200px 
  margin-bottom: 2px 
.ps-list--link-4 li
  padding-left: 1500px 
  margin-bottom: 2px







      


   
 