.create_shop-container
  padding: 0 200px

.create_shop-title
  font-weight: 400
  color: #000
  font-size: 30px
  padding-bottom: 40px
  max-width: 60%
  margin: auto
  text-align: center

.create_shop-box
  background-color: #fff
  padding: 20px
  border-radius: 20px
  box-shadow: 0 0 2px #333

.create_shop-form
  display: flex
  justify-content: space-evenly

  .create_shop-avatar
    height: 200px
    width: 200px
    overflow: hidden
    border: 1px dotted #333
    display: flex
    justify-content: center
    align-items: center

    .create_upload-img
      min-width: 100px
      max-width: 100% 
      object-fit: cover

    .create_upload-input
      display: none

  .create_shop-regist
    // flex-grow: 1
    width: 50%
