@import '../../styles/helpers'

.login_box
  max-width: 430px
  margin: auto
  background-color: #fff
  padding: 40px

  .login_title
    font-weight: 400
    color: #000
    font-size: 30px
    padding-bottom: 40px
    max-width: 60%
    margin: auto
    text-align: center

  .login_btn
    width: 100%
    margin-top: 30px
    background-color: $main-color
    &:hover
      background-color: $hover-color
      color: #fff

  .login_link-register
    margin-top: 20px
    display: flex
    align-items: center
    p
      margin-right: 20px

.login_social-box
  display: flex
  justify-content: center
  .login_social
    padding: 5px
    margin: 20px 0
    flex: 1
    background: none
    border: 1px solid #ccc

.login_social-title
  text-align: center
