.layout_header
  background-color: #fcb800

.layout_body
  padding: 20px 0
  min-height: 100vh

.layout_container
  position: relative

.layout_chat
  position: fixed
  bottom: 40px
  right: 40px
  // height: 500px
  // width: 400px
  // background: #fff